<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.NoticeMapper">
    <insert id="save">
         INSERT into t_notice(title, context,  userid, realname)
         VALUES (#{title},#{context},#{userid},#{realname})
    </insert>
    <insert id="saveReadMan">
        INSERT INTO t_reader(username) VALUES (#{username})
    </insert>

    <select id="findByid" resultType="com.crm.pojo.Notice">
        SELECT * FROM t_notice WHERE  id = #{id}
    </select>
    <select id="findByParam" resultType="com.crm.pojo.Notice">
         SELECT * FROM t_notice order by id desc
        limit ${start},${length}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT count(*) FROM t_notice
    </select>
    <select id="findReaderMan" resultType="com.crm.pojo.Reader">
        select * from t_reader
    </select>
    <select id="findReader" resultType="java.lang.String">
         select username from t_reader
    </select>

</mapper>